button.close {
	margin-top: 8px;
}
.bootstrap-select img {
  width: 16px;
  height: auto;
}
.form-group.required label:after {
  content:" *";
  color:red;
}
.service-display-name {
  font-weight: bold;
}

#progress-indicator {
	display: none;
	margin-left: 10px;
}
#error-display {
	display: none;
	padding: 10px;
	margin-top: 10px;
}
