* {
    -webkit-box-sizing: initial;
       -moz-box-sizing: initial;
            box-sizing: initial;
}
*:before,
*:after {
  -webkit-box-sizing: initial;
     -moz-box-sizing: initial;
          box-sizing: initial;
}

.glyphicon-lg {
    font-size: 1.5em;
}
.btn[disabled] {
    opacity: 0.1;
}
.wiki-content .dropdown ul {
    list-style-type: none;
}
.wiki-content .dropdown-menu>li>a {
    color: #333;
}
.btn-group .spin {
    margin-top: 13px;
    margin-left: 5px;
}